body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: rgb(207,253,255);
background: radial-gradient(circle, rgba(207,253,255,1) 0%, rgba(255,215,229,1) 47%);
  ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h2 {
  font-size: 36px;
  text-align: center;
  margin-top: 40px;
  font-family: fantasy;
}
h1 {
  /* background-color: #000000; */
  
  background: rgb(62,247,238);
background: radial-gradient(circle, rgba(62,247,238,1) 0%, rgba(207,255,250,1) 47%);
  color:black;
  font-size: 300%;
  /* border: 50%; */
  /* width: 50%; */
  border-radius: 20%;
  border-style: solid;
  border-color: black;
  /* margin: 20%; */
  /* padding: 20%; */
  font-family: fantasy;
  margin-bottom: 100px;
  
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin: 20px;
}

button {
  text-align: center;
  font-size: 18px;
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 40px;
}

button:hover {
  background-color: #0056b3;
}

#ausgewähltePerson {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 20px;
  color: red;
}

div {
  display: flex;
  background: rgb(62,247,238);
background: linear-gradient(0deg, rgba(62,247,238,1) 0%, rgba(207,255,250,1) 47%);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25%;
  border-style: outset;
  border-color:black;
  /* border: 50%; */
  /* margin: 50%; */
}
